@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h4>Respect Your Elders</h4>
<p>Respect Your Elders is a company devoted to opening a dialogue between returned missionaries and prospective missionaries.
    The prospect of going on a mission can be scary, and the mission experience can vary wildly from mission to mission. By asking questions of recent returned missionaries
    of the mission to which they are assigned, prospective missionaries can better understand the missionary experience and better prepare for their best two years.</p>
