@{
    ViewBag.Title = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/Content/CustomStyles.css" />
</head>
<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <br />
        <br />
        <h1 style="color: white;">MissionConnect</h1>
        <p class="lead">Prepare to serve the best you can. Talk with those who have returned with honor! FEEHHHHH!!!!!</p>
        <p>@Html.ActionLink("Start Connecting", "Missions", "Index", null, new { @class = "btn btn-primary btn-large" })</p>
    </div>
</div>
<div class="container description">
    <div class="row">
        <h3>We are a hub for future missionaries to connect with those who have returned. We help prospective elders and sisters to prepare well and every returned missionary to stay connected to the work they love.</h3>
    </div>
</div>
<div class="container homepage">
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-5">
            <img class="img-responsive" src="~/Content/Images/sisters.png" height="250px" width="auto" />
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-4">
            <h2>Find Your Mission</h2>
            <p>Connect with hundreds of returned missionaries - who served the same people that you will.</p>
            <p>@Html.ActionLink("Go", "Mission", "Home", null, new { @class = "btn btn-primary btn-large" })</p>
        </div>
    </div>
</div>
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h2>Learn more about MissionConnect</h2>
            <p>Ready to get involved or just want to know more?</p>
            <p>@Html.ActionLink("Let's talk", "About", "Home", null, new { @class = "btn btn-primary btn-large" })</p>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-6">
            <img class="img-responsive" src="~/Content/Images/nametag.png" />
        </div>
    </div>
</div>