
@{
    ViewBag.Title = "Mission";
}

<h2>Mission</h2>

<nav class="breadcrumb">
    <a class="breadcrumb-item" href="#">Nevada Los Vegas Mission</a>
    <a class="breadcrumb-item" href="#">Taiwan Taipei Mission</a>
    <a class="breadcrumb-item" href="#">England London Mission</a>
</nav>